#form{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100px;
  border: 1px black solid;
  justify-content: space-between;
}
#form input{
  width: 100px;
  height: 20px;
  margin-top: 0px;
  margin-bottom: 6px;
}
#form label{
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
#form button{
  width: 100px;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 130px;
}
#inputWrap{
  display: flex;
  flex-direction: row;
}
#hWrape{
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}